@model Nop.Plugin.Misc.CustomerApi.CustomerApiSettings
@{
    Layout = "~/Administration/Views/Shared/_ConfigurePlugin.cshtml";
}

<div>
    <form asp-action="Configure" method="post">
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label asp-for="CrmUrl"></label>
            <input asp-for="CrmUrl" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="ClientId"></label>
            <input asp-for="ClientId" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="ClientSecret"></label>
            <input asp-for="ClientSecret" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
